<ul class="files">
  <% @files.each do |file| %>
    <li>
      <a href="/<%= only_filename(file) %>"><%= only_filename(file) %></a>

      <button type="button"><a href="/<%= only_filename(file) %>/edit">Edit</a></button>

      <form action="/<%= only_filename(file) %>/delete" method="post" class="inline">
        <button>Delete</button>
      </form>
    </li>
  <% end %>
</ul>

<a href="/new">New document</a>

<br>
<p class="sign-in-notice">Signed in as <%= session[:user] %></p>

<form action="/users/signout" method="post" class="inline">
  <button>Sign out</button>
</form>
